<header class="ba-header flex-container align-justify">
    <div class="ba-header__menu">
        <ul class="ba-nav__header" data-smooth-scroll>
            <li><a href="#">home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#freq">Faqs</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <button class="menu-icon dark hide-for-large"  type="button" data-open="offCanvas">
        </button>
    </div>
    <!-- /.ba-header__menu -->

    <div class="ba-header__logo">
        <a href="#">CBD</a>
    </div>
    <!-- /.ba-header__logo -->

    <div class="ba-header__btn">
        <a href="#">Login</a>
        <a href="#"><svg width=24 height=18><use xlink:href="#search" /></svg>Search</a>
        <a href="#">Cart(0)</a>
    </div>
    <!-- /.ba-header__btn -->
                
           
    </header>