<section class="ba-slider-product">
   
  <h2 class="ba-slider-product__title">CBD Featured Products</h2>
  <div class="ba-block-slider">
      <div class="ba-item-product">
          <div class="block-title-img">
              <img src="{{root}}assets/img/stars.png" alt="star">
              <h3>Black ICE CBD Muscle Rub 200 mg</h3>
              <img src="{{root}}assets/img/box.png" alt="product">
          </div>
          <!-- /.block-title-img -->
          <div class="ba-price-btn flex-container align-justify">
            <span class="ba-price">$49.99 USD</span>
            <button class="ba-btn-product">Shop</button>
          </div>
          <!-- /.ba-price-btn -->
      </div>
      <!-- /.ba-item-prooduct -->
      <div class="ba-item-product">
            <div class="block-title-img">
                <img src="{{root}}assets/img/stars.png" alt="star">
                <h3>Black ICE CBD Muscle Rub 200 mg</h3>
                <img src="{{root}}assets/img/paket.png" alt="product">
            </div>
            <!-- /.block-title-img -->
            <div class="ba-price-btn flex-container align-justify">
              <span class="ba-price">$49.99 USD</span>
              <button class="ba-btn-product">Shop</button>
            </div>
            <!-- /.ba-price-btn -->
        </div>
        <!-- /.ba-item-prooduct -->
        <div class="ba-item-product">
                <div class="block-title-img">
                    <img src="{{root}}assets/img/stars.png" alt="star">
                    <h3>Black ICE CBD Muscle Rub 200 mg</h3>
                    <img src="{{root}}assets/img/bytulka.png" alt="product">
                </div>
                <!-- /.block-title-img -->
                <div class="ba-price-btn flex-container align-justify">
                  <span class="ba-price">$49.99 USD</span>
                  <button class="ba-btn-product">Shop</button>
                </div>
                <!-- /.ba-price-btn -->
            </div>
            <!-- /.ba-item-prooduct -->
            <div class="ba-item-product">
                    <div class="block-title-img">
                        <img src="{{root}}assets/img/stars.png" alt="star">
                        <h3>Black ICE CBD Muscle Rub 200 mg</h3>
                        <img src="{{root}}assets/img/box.png" alt="product">
                    </div>
                    <!-- /.block-title-img -->
                    <div class="ba-price-btn flex-container align-justify">
                      <span class="ba-price">$49.99 USD</span>
                      <button class="ba-btn-product">Shop</button>
                    </div>
                    <!-- /.ba-price-btn -->
                </div>
                <!-- /.ba-item-prooduct -->s
                <div class="ba-item-product">
                        <div class="block-title-img">
                            <img src="{{root}}assets/img/stars.png" alt="star">
                            <h3>Black ICE CBD Muscle Rub 200 mg</h3>
                            <img src="{{root}}assets/img/box.png" alt="product">
                        </div>
                        <!-- /.block-title-img -->
                        <div class="ba-price-btn flex-container align-justify">
                          <span class="ba-price">$49.99 USD</span>
                          <button class="ba-btn-product">Shop</button>
                        </div>
                        <!-- /.ba-price-btn -->
                    </div>
                    <!-- /.ba-item-prooduct -->
                    <div class="ba-item-product">
                            <div class="block-title-img">
                                <img src="{{root}}assets/img/stars.png" alt="star">
                                <h3>Black ICE CBD Muscle Rub 200 mg</h3>
                                <img src="{{root}}assets/img/box.png" alt="product">
                            </div>
                            <!-- /.block-title-img -->
                            <div class="ba-price-btn flex-container align-justify">
                              <span class="ba-price">$49.99 USD</span>
                              <button class="ba-btn-product">Shop</button>
                            </div>
                            <!-- /.ba-price-btn -->
                        </div>
                        <!-- /.ba-item-prooduct -->
  </div>
  <!-- /.ba-block-slider -->
  <button class="ba-btn-slide-right"><svg width=24 height=18><use xlink:href="#arrow-product-right" /></svg></button>
  <button class="ba-btn-slide-left"><svg width=24 height=18><use xlink:href="#arrow-product-left" /></svg></button>
</section>