<section class="ba-slider-commet">
    <div class="ba-block-slide-comm">
        <div class="ba-item-comm" style="background-image: url(assets/img/bigslide.jpg)">
           
            <img src="{{root}}assets/img/stars.png" alt="star">
            <p class="ba-blockquote">I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!</p>
            <span class="ba-author">Mark J.</span>
        </div>
        <!-- /.ba-item-comm -->
        <div class="ba-item-comm" style="background-image: url(assets/img/bigslide.jpg)">
           
            <img src="{{root}}assets/img/stars.png" alt="star">
            <p class="ba-blockquote">I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!</p>
            <span class="ba-author">Mark J.</span>
        </div>
        <!-- /.ba-item-comm -->
        <div class="ba-item-comm" style="background-image: url(assets/img/bigslide.jpg)">
           
            <img src="{{root}}assets/img/stars.png" alt="star">
            <p class="ba-blockquote">I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!</p>
            <span class="ba-author">Mark J.</span>
        </div>
        <!-- /.ba-item-comm -->
        <div class="ba-item-comm" style="background-image: url(assets/img/bigslide.jpg)">
           
            <img src="{{root}}assets/img/stars.png" alt="star">
            <p class="ba-blockquote">I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!</p>
            <span class="ba-author">Mark J.</span>
        </div>
        <!-- /.ba-item-comm -->
    </div>
    <!-- /.ba-block-slide-comm -->
    <div class="ba-text-section"><p>CBD every day</p> </div>
    <button class="ba-btn-slide-right slider-comm-right"><svg width=24 height=18><use xlink:href="#arrow-product-right" /></svg></button>
    <button class="ba-btn-slide-left slider-comm-left"><svg width=24 height=18><use xlink:href="#arrow-product-left" /></svg></button>
</section>
<!-- /.ba-slider-commet -->