<div class="ba-section-sponcor" id="sponcor">
   
        <div class="row align-center" >
            <div class="column small-12 medium-8">
                    <div class="ba-block-sponcor">
                <div class="ba-title-sponcor">
                    <h3>We are what we are</h3>
                </div>
                <!-- /.ba-title-sponcor -->
                <div class="ba-img-sponcor">
                    <img src="{{root}}assets/img/Logos.png" alt="sponcor">
                </div>
                <!-- /.ba-img-sponcor -->
                </div>
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    
</div>
<!-- /.ba-section-sponcor -->