<section class="ba-section-start">
    <div class="ba-title-right"><h2>CBD Potion health </h2></div>
    <div class="row align-right">
        <div class="column small-12 medium-7 ">
            <div class="ba-title-shop">
                <h1>Enhancing Life 
                    Excelling in Care</h1>
                    <span class="ba-subtilte">Choose Wisely. Choose CBD.</span>
                    <div class="ba-btn-shopy-block">
                    <a href="#" class="ba-btn-shop">Start-shopng</a>
                    <a href="#" class="ba-btn-all-product">See all products<svg width=24 height=18><use xlink:href="#arrow-right" /></svg></a>
                </div>
                <!-- /.ba-btn-shopy-block -->
                </div>
            <!-- /.ba-title-shop -->
        </div>
    </div>
    <!-- /.row -->
    <div class="ba-btn-scroll">
        <a href="#sponcor" data-smooth-scroll>
            <svg width=24 height=18><use xlink:href="#arrow-bottom" /></svg>
            </a>
    </div>
    <!-- /.ba-btn-scroll -->
</section>
<!-- /.ba-section-start -->